.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 63px;
  padding-bottom: 30px;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000;
  text-decoration: none;
}
.logo_span {
  color: #4bcaff;
}
.menu__top {
  background-color: #35444f;
  list-style-type: none;
  padding-left: 0;
  margin-top: 38px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}
.menu__top_link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding: 26px 38px 19px;
  display: block;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.page__main {
  display: flex;
  width: 1280px;
  height: 832px;
  padding-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
}
.left__menu {
  display: flex;
  flex-direction:row-reverse;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  padding-left: 0;
}
.left__menu-box {
  list-style-type: none;
}
.left__menu-box_item {
  padding: 13px 15px 40px;
  color: #495863;
}
.left__menu_link {
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.left__menu-box_item-hover {
  display: flex;
  background-color: #dbdbdb;
  color: #35444f;
  width: 342px;
  height: 81px;
justify-content: space-evenly;
align-items: center;
}
.right__menu {
  width: 885px;
  height: 832px;
  margin-left: 52px;
}

.right__menu-box {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
}
.logo__image {
  padding: 75px 268px 73px;
}
.text {
  margin-top: 37px;
  width: 885px;
  height: 120px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.page__footer {
  background-color: rgba(99, 105, 110, 0.48);
  width: 1280px;
  height: 69px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
.page__footer_item {
  list-style-type: none;
}
.page__footer_link {
  text-decoration: none;
  display: flex;
  font-size: 28px;
  line-height: 28px;
  color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__copyright-title {
  list-style-type: none;
  font-size: 24px;
  line-height: 24px;
  padding-top: 20px;
  padding-left: 110px;
  color: #010101;
}
