body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 1280px;
    margin: 0 auto;
  }
  
  .page__menu {
    display: inline;
    list-style-type: none;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing:2.7px;
  }
  .page__menu__iten__list_link {
    text-decoration: none;
    color: #ff0000;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
  }
  .page__menu-item-1 {
    display: inline;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    width: 131px;
    height: 27px;
    margin-left: 310px;
    margin-right: 40px;
    letter-spacing:2.7px;
  }
  .page__menu-item-2 {
    display: inline-block;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    width: 87px;
    height: 27px;
    margin-left: 50px;
    margin-right: 40px;
  }
  .page__menu-item-3 {
    display: inline-block;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    width: 140px;
    height: 27px;
    margin-left: 50px;
    margin-right: 40px;
  }
  .page__menu-item-4 {
    display: inline-block;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    width: 68px;
    height: 27px;
    margin-left: 0;
  }
  
  .banner {
    display: inline-block;
    background-image: url(../img/baner.png);
    width: 1280px;
    height: 789px;
    background-repeat: no-repeat;
  }
  
  .container {
    width: 1280px;
    height: 650px;
  }
  .header_container {
    display: flex; 
justify-content: space-evenly;
    margin-top: 48px;
    margin-bottom: 38px;
  }
  h2 {
    text-align:center;
  font-weight: bold;
    width: 774px;
    height: 29px;
    font-size: 22px;
    letter-spacing: 3.3px;
  }
  
  .text-1 {
    width: 1145px;
    height: 132px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #373737;
    vertical-align: top;
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    letter-spacing:2.4px;
  }
  
  .text-2 {
    width: 1145px;
    height: 216px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #373737;
    vertical-align: top;
    margin-top: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    letter-spacing:2.4px;
  }
  .button {
    display: flex;
justify-content: center;
  border-radius: 4px;
    margin-top: 66px;

  }
  .info_link {
    text-decoration: none;
    text-align: center;
    padding: 18px 43.5px 17px 42.5px;
    width: 105px;
    height: 16px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
   letter-spacing:1.8px;
   border-radius: 4px;
   
  }
  
  .footer {
    display: flex;
    flex-direction: row-reverse;
    width: 1070px;
    height: 39px;
    font-size: 16px;
    color: #373737;
    margin-top: 82px;
    margin-bottom: 29px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing:2.4px;
    margin-left: calc(50% - 1280px/2);
  }
  .string {
    text-align: center;
    font-weight: bold;
    width: 462px;
    height: 39px; 
  }

  